Source: manokwari-theme
Section: gnome
Priority: optional
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Vcs-Bzr: http://dev.blankonlinux.or.id/bzr/rote/krawu-themes

Package: manokwari-theme
Architecture: all
Depends: ${misc:Depends}, gtk3-engines-unico, gtk2-engines-murrine
Description: Manokwari Theme like BlankOn
 Manokwari theme BlankOn
